.chartBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.chartBar__inner {
  width: 13px;
  height: 60%;
  overflow: hidden;
  border: 2px rgba(11, 3, 31, 0.5) solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.chartBar__inner__fill {
  width: 100%;
  height: 50%;
  background-color: rgb(34, 11, 94);
  animation: anim 1s ;
  transition: all 1s;
}
.chartBar__lable {
  height: 5%;
  color:black;
  text-align: center;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
