.expenseItem__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.3rem;
  border: white solid 1px;
  border-radius: 0.5rem;
  box-shadow: grey 2px 2px 4px;
  background-color: rgb(5, 5, 5);
}
div{
  font-weight: 900;
  font-size: 10px;
  color: rgb(222, 238, 252);
}
.year {
  color: #6d6d6d;
  font-size: 10px;

}
