.expenseItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  background-color: #3f3f3f;
  margin: 1rem;
}

.expenseItem__description {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.expenseItem__description__amount {
  padding: 0.5rem 1.5rem;
  border: white solid 1px;
  border-radius: 0.5rem;
  box-shadow: grey 0px 2px 8px;
  background-color: rgb(83, 10, 126);
}
